.nav__head {
  background-color: #0002a1;
  color: white;
  height: 4rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.nav_navigation {
  display: flex;

  align-items: center;
  list-style: none;
}
.hide {
  display: block;
}
.line {
  width: 2rem;
  height: 0.1rem;
  transform: rotate(90deg);
  background-color: white;
}

@media (max-width: 500px) {
  .hide {
    display: none;
  }
  .nav_navigation {
    width: 15rem;
  }
}
