.nav__head {
  background-color: #0002a1;
  color: white;
  height: 4rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.nav_navigation {
  display: flex;

  align-items: center;
  list-style: none;
}
.line {
  width: 2rem;
  height: 0.1rem;
  transform: rotate(90deg);
  background-color: white;
}
