.cbox__main {
  width: 400px;

  height: 400px;
  background-color: #fff;
  border: 2px solid transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cbox_summary {
  display: grid;
  grid-template-rows: (5, 1fr);
  grid-row-gap: 3px;
  justify-content: space-between;
}
.zipcode {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  outline: none;
}
